.about_container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: calc(100% - $havbar-height);
    position: absolute;
    background-size: cover;

    .about_img {
        position: relative;
        height: 100%;
        object-fit: fill;
    }

    .about_section {
        padding: 60px;

        ul {
            counter-reset: index;
            padding: 0;
            max-width: 1600px;
        }

        li {
            counter-increment: index;
            display: flex;
            align-items: center;
            padding: 12px 0;
            box-sizing: border-box;
            font-size: 115%;
        }

        li::before {
            content: counters(index, ".", decimal-leading-zero);
            font-size: 2.5rem;
            text-align: right;
            font-weight: bold;
            min-width: 50px;
            padding-right: 12px;
            font-variant-numeric: tabular-nums;
            align-self: flex-start;
            background-image: linear-gradient(to bottom, aquamarine, orangered);
            background-attachment: fixed;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: .5rem;
        }

        li+li {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

.about_logo {
    cursor: pointer;
    max-width: 50vh;
}

/* 
  @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
      grid: true;
    }
    browsers: last 2 versions
  } */