.cons {
    display: flex;
    flex-direction: row;
    position: relative;

    .top_nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 10px;
    }
}

ul li a {
    font-size: 14px;
    position: relative;
    color: #3b3fb2;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    display: flex;
    padding: .5rem 2rem;


    &:hover {
        /*color: #2ae0bc;*/
        background: #fff;
        z-index: 200;
    }

    &.active {
        color: #2ae0bc;
        background: #fff;
        z-index: 200;
    }

    &:hover:before,
    &.active:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: 0px;
        background: #06ffcd;
        color: #fff !important;
        left: 0px;
        z-index: -1;
        animation: 0.8s alternate ElasticOvr;
        -webkit-animation: 0.8s alternate ElasticOvr;
        transition: all cubic-bezier(0, 0.52, 0.25, 1) 0.3s;
        -webkit-transition: all cubic-bezier(0, 0.52, 0.25, 1) 0.3s;
        -moz-transition: all cubic-bezier(0, 0.52, 0.25, 1) 0.3s;
    }
}

.innernav {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 0px;
    background: #fff;
    box-shadow: 0px 8px 30px #ddd;
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.5s;
    -webkit-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
    -moz-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
    -o-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
}

ul.innernav li {
    list-style-type: none;
    font-size: 13px;
    color: #666;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0px, -12px, 0px);
    -webkit-transform: translate3d(0px, -12px, 0px);
    -moz-transform: translate3d(0px, -12px, 0px);
}

ul {
    &.innernav li a {
        list-style-type: none;
        font-size: 13px;
        font-weight: 400;
        color: #666;
        padding: 15px 25px;
        display: inline-block;
        width: 100%;
        margin: 0px;

        &:hover {
            text-decoration: none;
        }
    }

    li:hover ul.innernav {
        opacity: 1;
        visibility: visible;
        transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
        -webkit-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
        -moz-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
        -o-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;

        li {
            opacity: 1;
            visibility: visible;
            transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
            -webkit-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
            -moz-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;
            -o-transition: cubic-bezier(0.25, 0.1, 0.32, 0.83) 0.3s;

            &:nth-child(1) {
                -webkit-transition-delay: 180ms;
                transition-delay: 180ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(2) {
                -webkit-transition-delay: 280ms;
                transition-delay: 280ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(3) {
                -webkit-transition-delay: 380ms;
                transition-delay: 380ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(4) {
                -webkit-transition-delay: 480ms;
                transition-delay: 480ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(5) {
                -webkit-transition-delay: 580ms;
                transition-delay: 580ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(6) {
                -webkit-transition-delay: 680ms;
                transition-delay: 680ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(7) {
                -webkit-transition-delay: 780ms;
                transition-delay: 780ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(8) {
                -webkit-transition-delay: 880ms;
                transition-delay: 880ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            &:nth-child(9) {
                -webkit-transition-delay: 980ms;
                transition-delay: 980ms;
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }
        }
    }
}


/* Menu hover Drop Down */

/* Elastic hover animation */
@-webkit-keyframes ElasticOvr {
    0% {
        top: 0;
        height: 0px;
    }

    50% {
        top: 0;
        height: 100%;
    }

    100% {
        bottom: 0px;
        height: 2px;
        color: #fff !important;
    }
}


@-moz-keyframes ElasticOvr {
    0% {
        top: 0;
        height: 0px;
    }

    50% {
        top: 0;
        height: 100%;
    }

    100% {
        bottom: 0px;
        height: 2px;
        color: #fff !important;
    }
}


@keyframes ElasticOvr {
    0% {
        top: 0;
        height: 0px;
    }

    50% {
        top: 0;
        height: 100%;
    }

    100% {
        bottom: 0px;
        height: 2px;
        color: #fff !important;
    }
}
