.left-nav {
    display: flex;
    position: sticky;
    width: 350px;
    flex-direction: column;
    // border-right: 1px solid black;
    height: 100%;
    box-shadow: 5px 0 10px -5px rgba(53, 61, 67, 0.2);
    // #333


    &__top-info {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 1rem 1.5rem;
        align-items: center;

        .name {
            font-weight: bold;
            font-size: 25pt;
        }

        .i-box {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 9;

            &>img {
                max-width: 15px;
                max-height: 15px;
            }

            &:hover {
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.08);
            }
        }

    }

    .item {
        display: flex;
        flex-direction: row;
        padding: 1rem 1.5rem;
        align-items: center;
        cursor: pointer;

        &>svg {
            margin-right: 15px;
        }

        &:hover {
            background-color: #f7f6fd;
            border-radius: 0 1.2rem 1.2rem 0;
            margin-right: 15px;
        }

    }

    .active {
        font-weight: bold;
        background-color: #f7f6fd !important;
        border-radius: 0 !important;
        width: 100% !important;
        color: #4d8dec !important;
    }

    .main-wrapper {
        .bottom-wrap {
            position: absolute;
            bottom: 0;
            width: 100%;

            .bottom {
                &__items {
                    padding: 1rem 0;
                    // box-shadow: 0 5px 5px -5px rgba(30, 129, 204, 0.2);
                    box-shadow: 0 -7px 5px -5px rgba(30, 129, 204, 0.2),
                        0 7px 5px -5px rgba(30, 129, 204, 0.2);
                }

            }

            .user {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none !important;
                background-color: w !important;

                .user-wrap {
                    display: flex;
                    flex-direction: column;
                }

                &__avatar {
                    border-radius: 50%;
                    background-color: #d5dbe0;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    color: #929699;
                }

                &__email {
                    color: #cececf;
                    font-size: 12pt;
                }

                &__name {
                    font-size: 14pt;
                    font-weight: bold;
                    color: black;
                }
            }
        }

        &__top {
            display: flex;
            flex-direction: column;

            .top__items {
                margin-top: 1rem;

                .item {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    color: black;
                }
            }

        }

    }

}