.main {
    border-radius: 20px;
    max-width: 1380px;
    height: 88vh;
    margin: 2vh auto;
    background: hsl(200, 20%, 90%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.constructor_main{
    overflow: hidden;
    
}

.component_bloks{
    display: flex;
    flex-direction: row;
}

.plus_block{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #2e2d30;
    border-radius: 15px;
    margin: 13px ;
    /* background-color: aqua; */
    height: 110px;
    width: 110px;
     
}

.big_plus{
    background-image: url("https://cdn-icons.flaticon.com/png/512/3524/premium/3524384.png?token=exp=1634232965~hmac=86510b82bd03024a86dd0cec56c8d774"); 
    height: 70px;
    width: 70px;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

/* .plus_logo{
    background: url(https://cdn-icons.flaticon.com/png/512/3524/premium/3524384.png?token=exp=1634231875~hmac=72be5dcde022fa1d3ec7f7377f226015);
    width: 50px; height:50px;
    z-index: 5;

    https://cdn-icons-png.flaticon.com/512/1237/1237946.png
} */
