// ---- variables --------------------------------
$border-radius: .845rem;
$havbar-height: 60px;


// ---- colors --------------------------------
$green-color: #87fb90;
$red-color: #e86257;
$not-black-color: #3d3e49;
$pink-color: #b896f4;
$dark-ping-color: #9e62af;
$items-gap: .80rem;
$big-items-gap: calc($items-gap + 17px);
$orange-color: #fd7347;
$blue-color: #2b56b5;
$light-pink-color: #d0506d;
$almost-black-color: #222128;
$light-blue-color: #62f3f7;
$light-green-color: #23bfc0;
$almost-white-color: #c4e0f8;
$dark-gray-color: #282a30;
$not-blue-color: #2a2a34;
$cool-gray-color: #8f9092;
$cool-light-green-color: #f5fcf4;
$cool-blue-color: #604fc5;


