.admin_container {
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}