.catalog__container__filter {
    background-color: white !important;
    width: 400px;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 1.5rem 1rem 0 1rem;

    .filter-name {
        color: $orange-color;
        font-size: 16pt;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

    .filter-view {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
    }

    .filter-category {
        position: relative;
        width: 100%;
        
        .items {
            .view-all {
                padding: 4px;
                cursor: pointer;
            }
    
            &__type {
                z-index: 3;
    
                .type-item {
                    cursor: pointer;
                    
                    .item-header {
                        padding: .6rem 0 .3rem 2rem;
                        gap: 1rem;
                        align-items: center;
                        display: flex;
                        flex-direction: row;
    
                        &>img {
                            display: relative;
                            position: relative;
                            cursor: pointer;
                            width: 10px;
                            height: 10px;
                            top: 2px;
                            transition: 0.5s;
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
    
                            &.rotate {
                                -webkit-transform: rotate(270deg) !important;
                                transform: rotate(270deg) !important;
                                top: -2px;
                            }
                        }
    
                        .type-name {
                            font-size: 13pt;
                            position: relative;
                            width: 100%;
    
                            &.selected {
                                color: $red-color;
                                ;
                            }
                        }
                    }
    
                    .brands {
                        margin-top: .6rem;
                        display: flex;
                        position: relative;
                        margin-left: 5rem;
                        gap: .5rem;
                        flex-direction: column;
    
                        .brand {
                            display: flex;
                            gap: .7rem;
                        }
                    }
                }
            }
        }
    }

    .c-btn {
        position: relative;
        cursor: pointer;
        gap: .7rem;
        display: flex;
        color: $cool-gray-color;

        &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, $red-color, $red-color);
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.4s;
        }

        &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }

        &:hover {
            color: $red-color !important;
        }

    }
}

.check__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;

    label {
        display: flex;
        align-items: center;
        column-gap: 6px;
    }
}

.default__check[type="checkbox"] {
    display: none;

    ~.custom__check {
        display: flex;
        align-items: center;
        height: 20px;
        border: 2px solid #000;
        position: relative;
        transition: all 0.4s ease;
        cursor: pointer;

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            transition: all 0.4s ease;
        }
    }

    &:not(.switchbox) {
        ~.custom__check {
            justify-content: center;
            width: 20px;

            &:after {
                visibility: hidden;
            }
        }
    }

    &:disabled {
        ~.custom__check {
            // opacity: 0.3;
            // cursor: not-allowed;
        }
    }

    &:checked {
        ~.custom__check {
            background-color: #000;

            &:after {
                visibility: visible;
            }
        }
    }
}

.default__check[type="checkbox"] {
    z-index: 1000;

    &:not(.switchbox) {
        ~.custom__check {
            border-radius: 0.375rem;

            &:after {
                height: 12px;
                width: 4px;
                margin-top: -2px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
            }
        }
    }
}