.catalog__container__filter {
    background-color: white !important;
    width: 400px;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 1.5rem 1rem 0 1rem;

    .filter-name {
        color: $orange-color;
        font-size: 16pt;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }


    .items {
        .view-all {
            padding: 4px;
            cursor: pointer;
        }

        &__type {
            z-index: 3;

            .type-item {
                cursor: pointer;
                // width: clamp(100px, 50%, 250px);

                .item-header {
                    padding: .6rem 2rem;
                    gap: 1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: row;

                    &>img {
                        // left: -20px;
                        display: relative;
                        position: relative;
                        cursor: pointer;
                        width: 10px;
                        height: 10px;
                        top: -2px;
                        // margin-left: 10rem;
                        transition: 0.5s;
                        -webkit-transform: rotate(270deg);
                        transform: rotate(270deg);

                        &.rotate {
                            -webkit-transform: rotate(90deg) !important;
                            transform: rotate(90deg) !important;
                            top: 2px;
                        }
                    }

                    .type-name {
                        font-size: 13pt;

                        &.selected {
                            color: $red-color;
                            ;
                        }
                    }
                }

                .brands {
                    display: flex;
                    position: relative;
                    margin-left: 5rem;
                    gap: .5rem;
                    flex-direction: column;

                    .brand {
                        display: flex;
                        gap: .7rem;
                    }
                }
            }
        }
    }
}

.check__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;

    label {
        display: flex;
        align-items: center;
        column-gap: 6px;
    }
}

.default__check[type="checkbox"] {
    display: none;

    ~.custom__check {
        display: flex;
        align-items: center;
        height: 20px;
        border: 2px solid #000;
        position: relative;
        transition: all 0.4s ease;
        cursor: pointer;

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            transition: all 0.4s ease;
        }
    }

    &:not(.switchbox) {
        ~.custom__check {
            justify-content: center;
            width: 20px;

            &:after {
                visibility: hidden;
            }
        }
    }



    &:disabled {
        ~.custom__check {
            // opacity: 0.3;
            // cursor: not-allowed;
        }
    }

    &:checked {
        ~.custom__check {
            background-color: #000;

            &:after {
                visibility: visible;
            }
        }
    }
}

.default__check[type="checkbox"] {
    z-index: 1000;

    &:not(.switchbox) {
        ~.custom__check {
            border-radius: 0.375rem;

            &:after {
                height: 12px;
                width: 4px;
                margin-top: -2px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
            }
        }
    }
}